@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #f0ddee;
    color: #29292e;
}
body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}