.Container-Home {
    width: 100%;
    min-height: 100vh;

    img {
        width: 100%;
        height: auto;
    }
       
    
    
    .Posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
        
        padding: 20px;
        
        .Post {
            border-radius: 0.5rem;
            margin: 1rem;
            
            background-color: black;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-in-out;

            
            

            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                transform: scale(1.01);
            }

            
        }
        
    }
}
