.Container-Home {
    min-height: 100vh;
    
    .Posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: 4.29rem;
        margin-bottom: 3rem;
        
        
        .Post {
            border-radius: 0.5rem;
            margin: 0.8rem;
            
            background-color: #fff;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-in-out;
            

            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                transform: scale(1.05);
            }

            
        }
    }
}
