.Card {
    width: 600px;
    height: 150px;
    border: 1px solid #803790;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #be7abb;
    overflow: hidden;
    position: relative;
    

     .Card-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0.2rem 0.3rem;
        background-color: #803790;
        
        
        .content-left {
            flex: 1;

            img {
                width: 150px;
                height: 120px;
                object-fit: cover;
                border-radius: 10px;
            }

            h3 {
                font-size: 10px;
                color: #e0bcdd;
                
            }
        }
        .content-right {
            flex: 2.5;

            >div {
                display: flex;
                align-items: center;
                gap: 1rem;
                span {
                    font-size: 20px;
                    color: #fff;
                    font-weight: bold;
                }


            }


            p {
                font-size: 12px;
                color: #e0bcdd;
            }

            
        }
        
        
    } 
    
    
    
    
    &:hover {
        border-radius: 10px;
        transition: 0.5s;
        
    }
}