.content-header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #3C8AE3, #221493 70%);
    display: flex;
    justify-content: space-between;

    padding: 2rem;
    align-items: center;
    border-bottom: 2px groove #3C8AE3;

    .content-logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 50px;
            height: 50px;
            
        }

        >span {
            font-size: 20px;
            color: #fff;
            font-weight: bold;
        }
    }
    
    

    .content {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: bold;

        >div {
            font-size: 17px;
            color: #a9a9a9;

            span {
                font-weight: 400;
                color: #fff;
                font-size: 15px;
            }
        }


        @media (max-width: 768px) {
            font-size: 13px;
        }
        
        .content-ancoras {
            
            .ancora-1, .ancora-2 {
                font-size: 15px;
                color: #fff;
                
                border-radius: 5px;
                text-decoration: none;
                margin-left: 20px;
                transition: all 0.8s;

                &:hover {
                    filter: brightness(0.8);
                    color:#b8cad4;
                    
                }
    
                @media (max-width: 760px) {
                    font-size: 13px;
                }
            
            }
        
        
            @media (max-width: 760px) {
                height: 60px;
                display: flex;
                align-items: center;
            }
        }

        .content-user {
            .ancora-2 {
                
                font-size: 15px;
                color: #fff;
                
                border-radius: 50%;
                text-decoration: none;
                margin-left: 20px;
                transition: all 0.8s;

                &:hover {
                    filter: brightness(0.8);
                    color:#b8cad4;
                    
                }
            }

        }
    }
}