.avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid;
    border: 1px solid #be7abb;
    overflow: hidden;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
    }
    @media (max-width: 760px) {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        img {
            width: 35px;
            height: 35px;

        }
    }
}