.avatar {
    width: 49px;
    height: 49px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #fff;

    img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        
    }
}